.input {
  padding: 0.3em;
  border-radius: 6px;
  font-size: 16px;
  background: #fbfbfb;
  border: 2px solid transparent;
  height: 36px;
  min-width: 300px;
  width: 100%;
  box-shadow:
    0 0 0 1px #dddddd,
    0 2px 4px 0 rgb(0 0 0 / 7%),
    0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

.input:focus {
  border: 2px solid #545252;
  border-radius: 3px;
}

.label {
  display: block;
  margin-bottom: 0.5em;
}

.wrap {
  padding: 0.4em 0 0.4em 0;
  margin-bottom: 1em;
}

.error {
  margin-top: -10px;
  font-size: 0.8em;
  margin-top: -17px;
  margin-bottom: 6px;
  font-style: italic;
  display: block;
  color: #db5c5c;
}
